<section class="hero is-fullheight landing-herro-main">
   <div class="hero-title">
       <div class="container">
            <h1 class="title is-1 contact-information-title">
                Contact Information
            </h1>
       </div>
   </div>
   <div class="hero-body contact-section-wrapper">
       <div class="container">
            <div class="columns">
                <div class="column">
                    <app-contact-information-partial></app-contact-information-partial>
                </div>
                <div class="column">
                    <app-contact-us-form></app-contact-us-form>
                </div>        
            </div>
       </div>
   </div>
</section>