
<div	
	#scheduleRef
	[@scrollAnimation]="scheduleState">
	<section class="hero calendar-herro-main">
			<div class="hero-title">
				<div class="container">
					<h1 class="title is-1 calendar-title">
							Class Schedule
					</h1>
				</div>
			</div>
			<div class="hero-body calendar-body">
				<div class='column'>
					<div class='card equal-height'>
						<div class='card-content is-flex is-horizontal-center'>
							<img 
								class="class-schedule-img" 
								(click)="downloadClassSchedule()" 
								src="https://res.cloudinary.com/eesportfolio/image/upload/v1551646356/Schedule_PNG_Updated_25_feb.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
</div>