<section class="hero is-fullheight tos-hero"
  #tosRef
  [@scrollAnimation]="tosState">
  <div class="hero-title">
    <div class="container">
      <h1 class="title is-1 tos-title">
        Terms of services
      </h1>
    </div>
  </div>
  <div class="hero-body  tos-hero-body">
   <div class="container">
    <h4 class="title is-4 tos-sub-title">
      Studio information
    </h4>
    <div class="content">
      <ul>
          <li>We provide mats and all props.</li>
          <li>There is a changing room but no showers.</li>
          <li>Parking is widely available in the area depending on the time of day. We are a 5 minute walk from Lepanto station.</li>
          <li>It is important that you arrive 15 minutes before class.</li>
        </ul>
        <ul>
          <li>I tappetini e tutto il materiale per la pratica verrà fornito da noi.</li>
          <li>C'è uno spogliatoio ma non ci sono docce.</li>
          <li>La facilità di trovare parcheggio in zona varia in base all'orario. Siamo a 5 minuti a piedi dalla stazione Lepanto.</li>
          <li>E' importante presentarsi 15 minuti prima dell'inizio della lezione.</li>
        </ul>
    </div>

    <h4 class="title is-4 tos-sub-title">
      Payments
    </h4>
    <div class="content">
      <ul>
        <li>We accept payments in cash, debit and credit and card, and bank transfer.</li>
        <li>We do not offer refunds, but in some cases account credit will be offered for future purchase of services.</li>
      </ul>
      <ul>
        <li>Accettiamo pagamenti in contanti, carte di credito, bancomat e bonifici.</li>
        <li>I pagamenti non sono rimborsabili, ma in alcuni casi permettiamo di mantenere un credito sull'account per l'acquisto di servizi futuri.</li>
      </ul>
    </div>

      <h4 class="title is-4 tos-sub-title">
        Class Policy
      </h4>
      <div class="content">
        <ul>
          <li>Bookings can be made via telephone or email. Members may use the Mindbody APP.</li>
          <li>In order for a class to take place, there must be at least 1 booking present 2 hours before the start time. Should there be no bookings 2 hours prior to start time, the class will be cancelled.</li>
          <li>Please arrive 15 minutes before the start of class. The doors will be closed 1 minute after the start of class.</li>
          <li>FOR ALL MEMBERS A MEDICAL CERTIFICATE IS MANDATORY.</li>
        </ul>
        <ul>
          <li>Le prenotazioni si possono fare telefonicamente o via email. I tesserati potranno utilizzare la APP Mindbody.</li>
          <li>Ogni lezione avverrà se almeno 1 prenotazione sarà presente 2 ore prima dell'inizio della lezione. Se non ci saranno prenotazioni, a 2 ore prima della lezione, la stessa verrà cancellata.</li>
          <li>Gentilmente si richiede la presenza 15 minuti prima dell'inizio della lezione. Le porte verranno chiuse 1 minuto dopo l'inizio della lezione.</li>
          <li>IL CERTIFICATO MEDICO E' OBBLIGATORIO PER TUTTI I TESSERATI.</li>
        </ul>
      </div>

      <h4 class="title is-4 tos-sub-title">
        Class Policy
      </h4>
      <div class="content">
        <ul>
          <li>All class bookings must be cancelled at least 2 hours prior to start time.</li>
          <li>Failure to do so for two consecutive times in the span of one month will result in suspension from booking for the duration of one week.</li>
        </ul>
        <ul>
        <li>Tutte le prenotazioni andranno disdette almeno 2 ore prima dell'inizio della lezione.</li>
        <li>Due disdette tardive o mancate disdette tardive nell'arco di 1 mese risulteranno nella sospensione dalle prenotazioni per la durata di una settimana.</li>
        </ul>
      </div>

    <h4 class="title is-4 tos-sub-title">
        Cancellation policy
      </h4>
      <div class="content">
        <ul>
          <li>All class bookings must be cancelled at least 2 hours prior to start time.</li>
          <li>Failure to do so twice the span of one month will result in suspension from booking for the duration of one week.</li>
        </ul>
        <ul>
          <li>Tutte le prenotazioni andranno disdette almeno 2 ore prima dell'inizio della lezione.</li>
          <li>Due disdette tardive o mancate disdette nell'arco di 1 mese risulteranno nella sospensione dalle prenotazioni per la durata di una settimana.</li>
        </ul>
      </div>
   </div>
  </div>
</section>