.landing-herro-main {
    background: url('https://res.cloudinary.com/eesportfolio/image/upload/v1547926636/48396281_356141178301813_5276518901121810432_n_1.jpg');
    width:  100%; /*or 70%, or what you want*/
    height: 100%; /*or 70%, or what you want*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    width: 30vw;
}
.down-arrow-icon	{
    font-size: 6vw;
    color: #FFF;
    -webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
}

.down-arrow-icon:hover {
    color: #d65050;
}

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.action-button {
  margin: 5px;
}

.action-button:hover {
  border-color: #d65050 !important;
  color: #FFF !important;
  background-color: #d65050!important;
}

/* Responsive media queries */

/* Samsung galaxy 5 */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .logo-img {
    width: 45vh
  }

  .down-arrow-icon {
    font-size: 12vw;
  }

  
  .action-wrapper {
    margin-top: 50px !important;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .logo-img {
      width: 45vh
    }
  
    .down-arrow-icon {
      font-size: 12vw;
    }

    
    .action-wrapper {
      /* margin-top: 40px !important; */
      margin-top: 40px;
    }
}

/* iPhone devices */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .logo-img {
      width: 45vh
    }
  
    .down-arrow-icon {
      font-size: 12vw;
    }

    
    .action-wrapper {
      margin-top: 50px !important;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .logo-img {
      width: 45vh
    }
  
    .down-arrow-icon {
      font-size: 12vw;
    }

    .action-wrapper {
      margin-top: 50px !important;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .logo-img {
      width: 45vh
    }
  
    .down-arrow-icon {
      font-size: 12vw;
    }

    .action-wrapper {
      margin-top: 50px !important;
    }
}

/* Ipad tablets */
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .logo-img {
      width: 45vh
    }
  
    .down-arrow-icon {
      font-size: 12vw;
    }
    
    .action-wrapper {
      margin-top: 50px !important;
    }
}


/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo-img {
      width: 45vh
    }
  
    .down-arrow-icon {
      font-size: 12vw;
    }

    .action-wrapper {
      margin-top: 50px !important;
    }
}


/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo-img {
      width: 45vh
    }
  
    .down-arrow-icon {
      font-size: 12vw;
    }

    .action-wrapper {
      margin-top: 50px !important;
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo-img {
      width: 45vh
    }
  
    .down-arrow-icon {
      font-size: 12vw;
    }

    .action-wrapper {
      margin-top: 50px !important;
    }
}