<app-prices-modal [isActive]="isPricesModalActive" (onClose)="togglePricesModal()"></app-prices-modal>
<app-calendar-modal [isActive]="isCalendarModalActive" (onClose)="toggleCalendarModal()"></app-calendar-modal>
<section class="hero is-fullheight landing-herro-main">
  <div class="hero-title">
    <div class="container"  [@initHeader]="initialState">
      <img class="logo-img" src="https://res.cloudinary.com/eesportfolio/image/upload/v1547928677/TYHR_Full-Wordmark_White.png">
    </div>
    <div class="action-wrapper" [@initHeader]="initialState">
      <a class="button is-primary is-inverted is-outlined action-button" (click)="toggleCalendarModal()">
        Calendar
      </a>
      <a class="button is-primary is-inverted is-outlined action-button" (click)="togglePricesModal()">
        Rates
      </a>
      <div class="divider"></div>
      <a (click)="goToMindBodyCalendar()" class="button is-primary is-inverted is-outlined action-button">
        Book a class
      </a>
    </div>
  </div>
  <div class="hero-footer"  [@initHeader]="initialState">
    <div class="container has-text-centered">
      <i class="material-icons down-arrow-icon">
        expand_more
      </i>
    </div>
  </div>
</section>