.calendar-herro-main {
    .calendar-title {
        margin-top: 20px;
        color: #a96d4b;
        font-family: 'Cormorant Garamond', serif;
    }
    
    .calendar-body {
        margin-top: 40px;
    }
}

.app-footer {
    background-color: #a96d4b;
}