<section class="hero is-fullheight calendar-herro-main">
    <div class="hero-title">
        <div class="container">
            <h1 class="title is-1 calendar-title">
               Mind body calendar
            </h1>
        </div>
    </div>
    <div class="hero-body calendar-body">
        <div class="container">
            <healcode-widget data-type="schedules" data-widget-partner="object" data-widget-id="1594754f6ce" data-widget-version="1" ></healcode-widget>
        </div>
    </div>
</section>
<footer class="footer app-footer">
    <div class="content has-text-centered">
        <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>