<div class=" contact-details-container">
	<h1 class="title is-5 contact-information-title follow-us-title">
		Contact Information
	</h1>
	<p>
		Scala G, Int. 1
	</p>
	<p>
		Via Giuseppe Ferrari 12, 00195 Roma
	</p>
	<a href="tel:+39 366 333 78 56">
		Tel. +39 366 333 78 56
	</a><br>
	<a href="mailto:info@theyogahouseroma.com">
		info@theyogahouseroma.com
	</a>
</div>
<div class="social-links-wrapper">
  <h1 class="title is-5 contact-information-title follow-us-title">
        Follow us on
  </h1>    

  <div class="social">
	<a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/theyogahouse.roma/" target="_blank" ></a>
	<a class="instagramBtn smGlobalBtn" href="https://www.instagram.com/theyogahouse.roma/" target="_blank"></a>
  </div>
</div>